<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jude.emotionshow">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <permission android:name="com.jude.emotionshow.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.jude.emotionshow.permission.JPUSH_MESSAGE" />

    <application
        android:name=".presentation.app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_APPKEY}"/>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"
            />
        <!--融云-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONGYUN_APPKEY}" />

        <!-- Required . Enable it you can get statistics data with channel -->
        <!--极光-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" /> <!-- </>值来自开发者平台取得的AppKey-->
        
        <!--mob-->
        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="${SMS_MOB_APPKEY}"
            />
        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="SMS_MOB_APPSECRET"
            />
        <activity
            android:name=".presentation.main.LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme"/>
        <service android:name="com.amap.api.location.APSService"/>
        <activity android:name=".presentation.user.LoginActivity"
            android:theme="@style/MainTheme"/>
        <activity android:name=".presentation.user.RegisterActivity"/>
        <activity android:name=".presentation.setting.SettingActivity"/>
        <activity android:name=".presentation.user.UserDetailEditActivity"/>
        <activity android:name=".presentation.user.IntroEditActivity"/>
        <activity android:name=".presentation.setting.FeedbackActivity"/>
        <activity android:name=".presentation.setting.AccountSettingActivity"/>
        <activity android:name=".presentation.user.PasswordEditActivity"/>
        <activity android:name=".presentation.setting.AboutActivity"/>
        <activity android:name=".presentation.seed.WritingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mooshow" android:host="mooshow.cn" android:pathPrefix="/add"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.seed.SeedDetailActivity"/>
        <activity android:name=".presentation.user.UserPreviewActivity"/>
        <activity android:name=".presentation.user.UserDetailActivity"/>
        <activity android:name=".presentation.user.CollectionActivity"/>
        <activity android:name=".presentation.seed.CategoryActivity"/>
        <activity android:name=".presentation.seed.RecommendActivity"/>
        <activity android:name=".presentation.user.FindPasswordActivity"/>
        <activity android:name=".presentation.main.SearchActivity"/>
        <activity android:name=".presentation.main.ImageViewActivity"/>
        <activity android:name=".presentation.user.PhoneEditActivity"/>
        <activity android:name=".presentation.user.FriendsActivity"/>
        <activity android:name=".presentation.user.NotifyActivity"/>
        <activity android:name=".presentation.user.NotifyItemActivity"/>
        <activity android:name=".presentation.setting.PushSettingActivity"/>
        <activity android:name=".presentation.main.WebViewActivity"/>
        <activity android:name=".presentation.main.GuideActivity"/>
        <activity android:name=".presentation.user.ChatActivity"
            android:label="聊天">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.jude.emotionshow"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.user.ChatListActivity"
            android:label="消息列表">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.jude.emotionshow"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.shop.GoodsDetailActivity" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".presentation.shop.OrderConfirmActivity"/>
        <activity android:name=".presentation.shop.OrderSuccessActivity"/>
        <activity android:name=".presentation.shop.AddressAddActivity"/>
        <activity android:name=".presentation.shop.AddressListActivity"/>
        <activity android:name=".presentation.shop.PayDetailActivity"/>
        <activity android:name=".presentation.shop.OrderDetailActivity"/>
        <activity android:name=".presentation.shop.OrderListActivity"/>
        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".presentation.app.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
